 ------
 Introduction
 ------
 Matt Love
 ------
 2023-10-26
 ------


${project.name}

  The Selenic Maven Plugin is a convenient way to integrate Parasoft Selenic as part of a Maven project lifecycle.  A licensed installation of Selenic on the same machine is required to be set in the {{{./impacted-tests-mojo.html#selenicHome}SELENIC_HOME}} environment variable, user property, or plugin configuration.  This plugin requires Java 11+ and Maven 3.9.

* Goals Overview

  General information about the goals.

  * {{{./help-mojo.html}selenic:help}} Display help information on selenic-maven-plugin.

  Call <<<mvn com.parasoft:selenic-maven-plugin:help -Ddetail=true -Dgoal=selenic>>> to display parameter details.

  * {{{./impacted-tests-mojo.html}selenic:impacted-tests}} Scans an application and analyzes a baseline coverage report to execute unit tests impacted by code changes.

  Call <<<mvn com.parasoft:selenic-maven-plugin:impacted-tests>>> to execute unit tests impacted by code changes.

* Technical Support

  In case you have questions regarding the plugin's usage, please have a look at the {{{./faq.html}FAQ}}.

  If you feel like the plugin is missing a feature or has a defect, please contact
  {{{mailto:support@parasoft.com}support@parasoft.com}}. When reporting an issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, patches are welcome, too. Contributors can check out the project from our
  {{{./scm.html}source repository}} and will find supplementary information in the
  {{{https://maven.apache.org/guides/development/guide-helping.html}guide to helping with Maven}}. 

* License

  The Selenic Maven Plugin is available under the {{{./licenses.html}Apache License, Version 2.0}}.
